@charset "utf-8";

@import "_partial/normalize";
@import "_partial/base";
@import "_partial/header";
@import "_partial/post";
@import "_partial/footer";
@import "_partial/mq";
@import "_partial/sidebar";
@import "_partial/resume";

@font-face {
  font-family: 'sourcesanspro';
  src: url('/font/sourcesanspro.woff2') format('woff2'),
    url('/font/sourcesanspro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
