extends partial/layout

block site_title
  != __('about') + " | " + config.title

block header
  include partial/header

block content
  include mixins/post
  +post(page)

block sidebar
  include partial/sidebar
  
block copyright
  include partial/footer