extends partial/layout

block site_title
  != __('about') + " | " + config.title

block header
  include partial/header

block content
  .post
    article.post-block
      .post-content
        != page.content

block sidebar
  include partial/sidebar
  
block copyright
  include partial/footer