extends partial/layout

block site_title
  != "ARCHIVE | " + config.title

block content
  include mixins/post
  +postList()

block pagination
  include mixins/paginator
  +home()

block copyright
  include partial/footer