.container
  each value, key in theme.menu
    - var re = /^(http|https):\/\/*/gi;
    - var tar = re.test(value) ? "_blank" : "_self"
    .nav-item
      a(href=value target=tar data-text=key)
        != __(key)
  if theme.resume
    .nav-item
      a(href="/resume" target="_blank" data-text="resume")
        != __('resume')
