//- jQuery
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")

//- jQuery.goup.js
script(src="/js/jquery.goup.min.js")

//- Semantic
script(src="/js/semantic.min.js")

//- casual.js
script(src="/js/casual.js")

//- LaTex
script(async src="//cdn.bootcss.com/mathjax/2.6.1/MathJax.js?config=TeX-MML-AM_CHTML")

//- Back up to top
script
  | $(document).ready(function(){$.goup({trigger:100,bottomOffset:100,locationOffset:5,title:'',titleAsText:true});});

//- swiftype search
- var ss = theme.swift_search
if ss
  script
    | (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){(w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);})(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

    | _st('install','TvAnFS4AVxjiJUvrZJRB','2.0.0');

//- Analytics tracking
- var ga = theme.ga
if ga
  script
    | (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='//www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create',
    != '"' + ga + '"'
    | ,'auto');ga('send','pageview');