.site-header {
  .site-banner {
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
  .site-nav {
    height: 46px;
    background-color: #252626;
    .nav {
      height: 100%;
      margin-left: 60px;
      .nav-item {
        display: inline-block;
        color: white;
        line-height: 46px;
        a {
          display: block;
          padding: 0 20px;
          color: #fff;
          letter-spacing: 1.5px;
          &:hover {
            background-color: #444;
          }
        }
      }
    }
  }
}
