.home.post-list {
  margin: 0 0;
  .post-list-item {
    padding: 1em 0 1em;
    &:last-child {
      border-bottom: 0px;
    }
  }
  .post-content{
    h2, h3, h4, h5, h6 {
      &:before {
          content: '';
      }
    }
    & > ul {
      list-style: initial;
    }
  }
}