.main {
  margin: 30px 0;
  overflow: hidden;
}

.container {
  max-width: 700px;
  padding: 0 20px;
  margin: auto;
  transition: all 0.5s ease-in-out 0s;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 980px;
    padding: 0;
    overflow: hidden;
    .content {
      float: left;
      width: 65.3062%;
      margin: 0;
    }
    .sidebar {
      float: right;
      width: 30.6123%;
    }
  }
}