.sidebar {
  .social-links {
    ul {
      list-style: none;
    }
    .social-link {
      display: inline-block;
      a {
        display: block;
        width: 30px;
        height: 30px;
        margin: 0 8px;
        border-radius: 50%;
        text-align: center;
        .icon {
          line-height: 30px;
          color: #fff;
        }
      }
      .link-github {
        background-color: #888;
      }
      .link-twitter {
        background-color: #00aced;
      }
      .link-weibo {
        background-color: #dd4b39;
      }
    }
  }
}