mixin home()
  .paginator
    != paginator()

mixin post()
  - var prev = page.prev ? page.prev.path : false;
  - var next = page.next ? page.next.path : false; 
  .post-paginator
    .post-links
      if prev
        .post-prev
          a.prev(href=url_for(prev))
            != __('Previous Post')
            span
              != page.prev.title
      if next
        .post-next
          a.next(href=url_for(next))
            != __('Next Post')
            span
              != page.next.title